
@media only screen and (max-width : 1300px){
    /* меню */
    .navbar-nav .nav-item .nav-link{
        padding: 8px;
    }
    .navbar-nav .nav-item.select-car a,
    .navbar-nav .nav-item.registration a{
        padding: 8px 16px;
    }
    .nav-link.dropdown-toggle{
        padding: 10px;
    }
    /* end-меню */

}

@media only screen and (max-width : 1200px){
    /* меню */
    .main-text{
        font-size: 50px;
        line-height: 54px;
    }
    .nav-link.dropdown-toggle{
        font-size: 18px;
    }
    /* end-меню */
    
}
@media only screen and (max-width : 1100px){
    
}
@media only screen and (max-width : 1050px){
    /* меню */
    .navbar-nav .nav-item.select-car a,
    .navbar-nav .nav-item.registration a{
        padding: 8px;
    }
    /* end-меню */
}
@media only screen and (max-width : 992px){
    main{
        margin-top: 56px;
    }
    .number.collapse.show{
        display: block;
    }

}